.modal {
	visibility: hidden;
	scale: 0;

	transition: scale 0.8s ease;

	&__icon {
		text-align: center;
	}

	&._active {
		overflow-y: auto;
		overflow-x: hidden;
		visibility: visible;
		scale: 1;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;

		background: #fafafa;
		border: 1px solid rgba(20, 16, 36, 0.2);
		border-radius: 10px;
		padding: 15px 40px;
		z-index: 5;

		& .close {
			position: absolute;
			top: 20px;
			right: 10px;
			z-index: 4;
			& span {
				position: absolute;
				top: 0px;
				right: 0px;
				width: 20px;
				height: 3px;
				background: #000;
				rotate: 45deg;
				&::before {
					content: '';
					position: absolute;
					right: 0px;
					top: 0px;
					display: block;
					width: 20px;
					height: 3px;
					rotate: 90deg;
					background: #000;
				}
			}
		}

		.img {
			width: 188px;
			height: 222px;
			border-radius: 8px;
		}

		& ._row {
			justify-content: left;
			align-items: flex-start;
			margin: 0px 0px 55px 0px;
		}
	}

	&-title {
		font-size: 24px;
		color: $bg;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
	}

	& .left {
		& > *:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__list {
		margin: 0px 0px 20px 0px;
	}

	&-btn {
		display: none;
		visibility: hidden;
	}

	& .img::before {
		display: none;
	}

	.list {
		display: flex;
		/*gap: 20px;*/

		justify-content: space-between;
		border-bottom: 2px solid $grey;

		margin: 0px 0px 30px 0px;

		& li {
			padding: 10px;
			transition: all 0.3s ease 0s;
		}
	}

	.tab-content {
		min-height: 30%;
		// padding: 15px 30px;
		margin: 0 auto;
	}

	.title-2 {
		margin: 0px 0px 30px 0px;
		font-size: 40px;
		font-weight: 700;
	}

	.tab-content img {
		margin: 0px 0px 20px 0px;
	}

	.tab-content p:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}

	.item.red {
		color: $red;
	}

	.item.grey {
		color: $grey;
	}

	.list__link {
		color: inherit;
	}

	&__video {
		display: block;
		width: 100%;
		height: 100%;
	}
}
